*{margin: 0px;padding:0px;}
*,*:before,*:after{-webktit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{
	background-color: #ececec;
}
#container{
	width:960px;padding:10px;
	margin:20px auto;
	background-color: #ffffff;
}
/*needed styles*/
.vtc-text-primary{
  color:#0059b2;
}
/*.vtc-bills{
	position:relative;
	display: inline-block;
}*/
.vtc-iframeH{
	display: none;
}
.vtc-iframe{
	width:502px;
	height:415px; /*415px;*/
	margin:auto;
	border:1px solid transparent;
	position:absolute;
	z-index:1;
}
.vtc-i-right.vtc-active:before,.vtc-i-right-top.vtc-active:before{
	content:"";
	display:block;
	width: 0px;height: 0px;
	position: absolute;top:-10px;right:-24px;
	border-top:20px solid transparent;
	border-bottom:20px solid transparent;
	border-right:20px solid #fff;
	z-index: 3;
}